
body {background-color: #fcfcfc;font-family: "Helvetica";}
u{text-decoration:none;}
h2{font-size:20px;}
a:link{color:#000;text-decoration: none;}
a:visited{color:#000;text-decoration: none;}
a:hover{color:#000;text-decoration: none;}
a:active{color:#000;text-decoration: none;}


/*####################### NAVIGATION BAR #######################*/
/* NavBar Menu  + some bootstrap changes*/
.navbar { margin:0;}
.label,.glyphicon { margin-right:5px; }            
.navbar-default .navbar-toggle .icon-bar {background-color: #777; font-weight: bold;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color: #fff;} 
.shareCont{margin-top:20px;}
#navBarName{font-size:30psx;}
li{font-weight:600;}
.navbar-brand {float:none;padding: 0;}
.navbar-header{margin:5px;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
    background-image: linear-gradient(to bottom, #fcfcfc 0px, #fcfcfc 100%);
    background-repeat: repeat-x;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset;
}
/*####################### //// NAVIGATION BAR  #######################*/


/*####################### CAROUSEL SLIDER #######################*/
/* Hide carousel/slider when screen with smaller than 480px */
@media screen and (max-width: 480px) {#myCarousel{display:none;}}
#myCarousel{margin-bottom:20px;}
.carousel-inner > .item > img,.carousel-inner > .item > a > img {margin: auto;width: 100%;}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    max-width: 77%;
    height: auto;
}
.carousel-inner{margin:0 auto;max-width:980px; }
/*Left Carousel Slider */
.carousel-control.left  {background:none;}
/* Right Carousel Slider */
.carousel-control.right {right: 0;left: auto;background:none;}
/*####################### //// CAROUSEL SLIDER #######################*/


/*####################### SHOPPING CART INFO BAR(The one that display total items in the cart) #######################*/ 
.shopping_cart_info_holder{margin-bottom:20px; text-align: center;}
.shopping_cart_info{
	display: block;
	margin:0 auto;
    margin-bottom:20px;	
	padding: 1px;
	max-width: 250px;
    max-height: 30px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.30);
	text-decoration: none;
}
.shopping_cart_info:hover{border:1px solid #dedede;}
/*####################### //// SHOPPING CART INFO BAR #######################*/


/*####################### THE SHOPPING CART #######################*/
.shopping_cart_holder{ 
	position: absolute;
    right:0;
    left:0;
    z-index:999999;
	display:none;
    margin:0 auto;
    margin:0 auto;    
	margin-top: 30px;
	padding: 5px;
    max-width: 600px;
    max-width: 600px;
    border:1px solid #dedede;
	border-radius: 4px;
	background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	color: #000;
}
.shopping_cart_holder ul.cart-products-loaded{margin: 0;padding: 0;list-style: none;}
/* Close viewing shopping cart */
.shopping_cart_holder .close_shopping_cart_holder{
    float: right;
    padding: 2px;
    border:1px solid #000;
    background-color: #fff;
    color: #000;
    font-size: 15px;
}
.shopping_cart_holder .close_shopping_cart_holder:hover{border:collapse;background-color: #000;color: #fff;}
#shopping_cart_output ul.cart-products-loaded li{margin-bottom: 1px;padding: 5px;background: #888;}
.shopping_cart_holder .remove_item_from_cart{
    float: right;
    margin-left: 30px;
    padding: 0 10px;
    border: 1px solid #dedede;
    border-radius: 30px;
    color: red;
    text-decoration: none;
    font-size: 20px;
}
.shopping_cart_holder .remove_item_from_cart:hover{font-weight:600;}
.shopping_cart_holder .cart-products-total{padding: 5px 0px 0px 5px;text-align: right;font-weight: bold;}
.shopping_cart_holder h3{margin: 0;padding: 0px 0px 5px 0px;}

/* Checkout button */
.shopping_cart_holder .checkoutButton{
    border-radius: 0;
    background-color: #ff5500;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
}
/* Checkout button hover */
.shopping_cart_holder .checkoutButton:hover{font-weight: 700;}
.itemInCardRow{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;}
.quantity_change{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #eee none repeat scroll 0 0;
    text-align: center;
    line-height: 20px;
}

/*####################### //// THE SHOPPING HOLDER #######################*/


/*#######################  DISPLAY ITEMS  #######################*/

ul.list_of_items {
    margin:0 auto;
	padding: 0;
	max-width: 980px;
    max-width:auto;
	color: #777;  
	list-style: none;
	text-align: center;
}
ul.list_of_items li{
	display: inline-block;
	margin: 5px;
	border: 1px solid #f7f7f7;
	background: #fff;
	text-align: center;
}

.item_title_holder{text-align:center;}
/* Display item name when on hover of item image */
ul.list_of_items li .item_disp_title{
    position: absolute;
    top: 1%;
    padding: 8px;
    width: 100px;
 border-bottom: 1px solid #fafafa;
}

.item_disp_title{
    z-index:9999;
    display:none;    
    width:auto;
    width: 150px;    
    border:1px solid;
    background-color: #181818;
    color:#fff;
    text-align:center;
    text-decoration: none;
    opacity: 0.50;
}

ul.list_of_items li .item_disp_values{padding: 2px;border-top: 1px solid #EAEAEA; border-bottom: 1px solid #EAEAEA;text-align: center;}
ul.list_of_items li .item_disp_values div{margin-bottom:5px;}
ul.list_of_items li .item_disp_values button{
	padding: 2px;
    width:198px;
	border: none;
    background:#00509d;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);    
    font-size:18px;
}
ul.list_of_items li .item_disp_values button:hover{
    background:#07618d;
    color:#fefefe;
    text-shadow: 0 3px 0 rgba(1, 2, 1, 0.3);
}

.item_disp_image{margin:0 auto;width:80%;vertical-align:middle;cursor:pointer;}
.item_disp_img_holder{margin:0 auto;text-align:center;}

/* Display item after clicking on it*/
#item_display{
 position:fixed;    
    top: 20%;
    left: 48%;    
    z-index:99999;
    margin-left: -10em;
    width:auto;
    height:auto;
}
.item_display_img{
     z-index: 9998;
    border: 2px solid #f4f4f4;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    transform: scale(1);
}
.item_display_img:hover{
     z-index: 9998;
     border: 2px solid #f4f4f4;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    transform: scale(1.2);
}
.close_image{
    position:absolute;
    z-index:9999999;    
    display:block;
    float: right;
    margin: 10px;
    padding: 0 10px;    
    border: 1px solid #000;
    color: red;
    text-decoration: none;
    font-weight: 500;
    font-size:15px;
}
.close_image:hover{color:red;font-weight:600;cursor: pointer;}
/*#######################  //// DISPLAY ITEMS  #######################*/

/*####################### DISPLAY INFO ABOUT UPDATED CART(in the middle of the page) #######################*/
#cart_update_info { 
    position:fixed;    
    top: 50%;
    left: 50%;    
    z-index:1000000;
    margin-left: -8em;
    width:10em;
    height:auto;
}
#new_item_added{
    position:fixed;
    margin:0 auto;
    padding:2px;
    max-width: 250px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f3f3f3;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.32);
    color: #0654ba;
    text-align:center;
    text-decoration: none;
/*    font-family: Arial;*/
    font-size: 20px;
}
/*####################### DISPLAY INFO ABOUT UPDATED CART(in the middle of the page) #######################*/


/*####################### CHECKOUT PAGE #######################*/
.checkout_btn{margin-bottom:5px;border-radius:0px; background-color:#00b300;color:#fff; }
.continue_shopping_btn{margin-bottom:5px;border-radius:0px; background-color:#ff5500;color:#fff; }
/*####################### //// CHECKOUT PAGE #######################*/


/*####################### FOOTER #######################*/
.footerHolder{clear: both;width:auto;background-color:#ccc;text-align:center;}
.footer, .push {height: 30px;}
/*####################### //// FOOTER  #######################*/

